body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-family: Arial;
  background-color: #34495e;
  color: #fff;
}

.Dayana {
position: relative;
width: 100%;
height: 100%;
min-height: 400px;
margin-bottom:-60px;
background-image: url('../img/Dayana.jpg');
background-position: center center;
background-size: cover;
background-clip: border-box;
}

.p10 {padding: 10px;}

.grid-container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: wrap;
  /*background-color: #2c3e50;*/
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  box-sizing: border-box;
  align-content: space-between;
  align-items: flex-start;
}

.grid-container div.item {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 0;
  margin: 10px;
  min-width: 23%;
  min-height: 50px;
  width: auto;
  height: auto;
  box-sizing: border-box;
  overflow: hidden;
  -webkit-box-shadow: 5px 10px 20px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 5px 10px 20px 0px rgba(0,0,0,0.3);
  box-shadow: 5px 10px 20px 0px rgba(0,0,0,0.3);
}

.it-body {
position: relative;
width: 100%;
height: 100%;
padding: 0;
margin: 0;
}

.it-main {
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 60px;
  background-color: rgba(255, 255, 255, 0.2);
}

.it-footer {
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

.it-qr {
  position: relative;
  float: left;
  width: 50px;
  height: 50px;
}

.it-title {
  width: 100%;
  line-height: 32px;
  padding: 9px 0 9px 60px;
  font-size: 28px;
  /*font-weight: bold;*/
}

.item1 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

.item2 {
  grid-column: 3;
  grid-row: 1 / span 2;
}

.item9 {
  height: 50px !important;
  width: 100% !important;
}

.item1 {background-color: #16a085 !important;}
.item2 {background-color: #27ae60 !important;}
.item3 {background-color: #2ecc71 !important;}
.item4 {background-color: #27ae60 !important;}
.item5 {background-color: #2980b9 !important;}
.item6 {background-color: #8e44ad !important;}
.item7 {background-color: #f39c12 !important;}
.item8 {background-color: #d35400 !important;}
.item9 {background-color: #c0392b !important;}
