body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-family: Arial;
}

.Dayana {
position: relative;
width: 100%;
height: 100%;
background-image: url('../img/Dayana.jpg');
background-position: center center;
background-size: cover;
background-clip: border-box;
}

.p10 {padding: 10px;}

.grid-container {
  display: flex;
  flex-flow: wrap;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto 40% 30% 50px;
  grid-gap: 15px;
  /*background-color: #2c3e50;*/
  padding: 15px;
  /*overflow: hidden;*/
}

.grid-container > div {
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 0;
  min-width: 465px;
  min-height: 250px;
  width: 25%;
  /*overflow: hidden;*/
}

.it-body {
clear: right;
}

.it-main {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
}

.it-footer {
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

.it-qr {
  float: left;
  width: 50px;
}

.it-title {
  width: 100%;
  line-height: 32px;
  padding: 9px 0 9px 60px;
  font-size: 32px;
  font-weight: bold;
}

.item1 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  width: 100% !important;
}

.item2 {
  grid-column: 3;
  grid-row: 1 / span 2;
}

.item9 {
  grid-column: 1 / span 4;
  min-height: 50px !important;
  height: 50px !important;
  width: 100% !important;
}

.item1 {background-color: #16a085 !important;}
.item2 {background-color: #27ae60 !important;}
.item3 {background-color: #2ecc71 !important;}
.item4 {background-color: #27ae60 !important;}
.item5 {background-color: #2980b9 !important;}
.item6 {background-color: #8e44ad !important;}
.item7 {background-color: #f39c12 !important;}
.item8 {background-color: #d35400 !important;}
.item9 {background-color: #c0392b !important;}
